[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pytz = "*"
flask-mongoengine = "*"
flask-socketio = "*"
eventlet = "*"
redis = "*"
pytest = "*"
python-dateutil = "*"
celery = "*"
rq = "*"
rq-scheduler = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"
"autopep8" = "*"
"flake8" = "*"
rope = "*"
ptvsd = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
