[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pytz = "*"
flask-mongoengine = "*"
flask-socketio = "*"
eventlet = "*"
redis = "*"
celery = "*"
celerybeat-mongo = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"
"autopep8" = "*"
"flake8" = "*"
rope = "*"
ptvsd = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
