[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
pytz = "*"
flask-mongoengine = "*"
flask-socketio = "*"
eventlet = "*"
redis = "*"
celery = "*"
celerybeat-mongo = "*"
flask-jwt-extended = "*"
openpyxl = "*"
sqlalchemy = "*"
cx-oracle = "*"
pyexcel-xlsx = "*"
pyexcel-xls = "*"
pyexcel = "*"
flask-excel = "*"
flask-pymongo = "*"
mailsend = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"
ptvsd = "*"
ipython = "*"
pytest = "*"
selenium = "*"
pytest-cov = "*"
pytest-mock = "*"
jupyter = "*"
yapf = "*"
black = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
